In [1]:
from data_connector_extract import gtrend, yahoo

In [2]:
msft_g = gtrend("MSFT", "2021-01-01", "2022-01-01")
amzn_g = gtrend("AMZN", "2021-01-01", "2022-01-01")
tesl_g = gtrend("TSLA", "2021-01-01", "2022-01-01")

In [3]:
msft_data = msft_g.collect_data()

In [4]:
amzn_data = amzn_g.collect_data()
tesla_data = tesl_g.collect_data()

In [5]:
msft_data.head()

       GT_date  MSFT
201 2021-01-01    27
201 2021-01-02    27
202 2021-01-03    29
202 2021-01-04    29
202 2021-01-05    29

In [6]:
amzn_data.head()

       GT_date  AMZN
201 2021-01-01    38
201 2021-01-02    38
202 2021-01-03    40
202 2021-01-04    40
202 2021-01-05    40

In [7]:
tesla_data.head()

       GT_date  TSLA
201 2021-01-01    32
201 2021-01-02    32
202 2021-01-03    58
202 2021-01-04    58
202 2021-01-05    58

In [8]:
import pandas as pd

In [9]:
msft_data.to_csv("msft_gtrend_2021_01_01.csv", index=False)

In [10]:
amzn_data.to_csv("amzn_gtrend_2021_01_01.csv", index=False)

In [11]:
tesla_data.to_csv("tsla_gtrend_2021_01_01.csv", index=False)

In [2]:
msft_yh = yahoo("MSFT", "2021-01-01", "2022-01-01")
amzn_yh = yahoo("AMZN", "2021-01-01", "2022-01-01")
tesl_yh = yahoo("TSLA", "2021-01-01", "2022-01-01")

In [4]:
msft_yh.collect_data()

Exception in thread Thread-9:
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/threading.py", line 973, in _bootstrap_inner
    self.run()
  File "/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/threading.py", line 910, in run
    self._target(*self._args, **self._kwargs)
  File "/Users/ps306w/venvs/seeking_sigma/lib/python3.9/site-packages/multitasking/__init__.py", line 104, in _run_via_pool
    return callee(*args, **kwargs)
  File "/Users/ps306w/venvs/seeking_sigma/lib/python3.9/site-packages/yfinance/multi.py", line 188, in _download_one_threaded
    data = _download_one(ticker, start, end, auto_adjust, back_adjust,
  File "/Users/ps306w/venvs/seeking_sigma/lib/python3.9/site-packages/yfinance/multi.py", line 202, in _download_one
    return Ticker(ticker).history(period=period, interval=interval,
  File "/Users/ps306w/venvs/seeking_sigma/lib/python3.9/site-packages/yfinance/base.py", line 295, in history
    df.index = df.index.tz_localize("UTC").tz_convert(
AttributeError: 'Index' object has no attribute 'tz_localize'

KeyboardInterrupt: